
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b3b4f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0a0a23;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
}

h1 {
  color: white;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 480px;
  margin: 15px 0;
  text-align: center;
}

label {
  color: white;
}

.input-box {
  width: 100%;
  max-width: 380px;
  border: 2.5px white solid;
  background-color: #4c4f4d;
  padding: 2rem;
  text-align: center;
}

#user-input {
  width: 90%;
  height: 35px;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 18px;
}

.btn {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: #0a0a23;
  font-size: 18px;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #928d86);
  border-color: #ffffff;
  border-width: 3px;
}

#results-div {
  overflow-y: auto;
  height: 100px;
  width: 100%;
}

.results-text {
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  margin: 10px 0;
}
